{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- header -->
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                The new 2022 collections are here
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                        Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<!-- end header -->

<!-- about us -->
<section id="about" class="py-5">
    <div class="container">
        <div class="row gy-lg-5 align-items-center">
            <div class="col-lg-6 order-lg-1 text-center text-lg-start">
                <div class="title pt-3 pb-5">
                    <h2 class="position-relative d-inline-block ms-4">About Us</h2>
                </div>
                <p class="lead text-muted">Everything you want, all in one place</p>
                <p>At Habitute., you’ll find everything from electronics to clothing - all in one webiste. We're able to
                    bring you such great values because of our enormous buying power, and you get to enjoy the
                    convenience of one-stop shopping.</p>
            </div>
            <div class="col-lg-6 order-lg-0">
                <img src="/media/about-us1.jpg" alt="shopkeeper image" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- end of about us -->

<!-- offer -->
<section id="offers" class="py-5">
    <div class="container">
        <div
            class="row d-flex align-items-center justify-content-center text-center justify-content-lg-start text-lg-start">
            <div class="offers-content">
                <span class="text-white">Discount Up To 40%</span>
                <h2 class="mt-2 mb-4 text-white">Grand Sale Offer!</h2>
                <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0">Buy Now</a>
            </div>
        </div>
    </div>
</section>
<!-- end of offer -->

<!-- blogs -->
<section id="blogs" class="py-5">
    <div class="container">
        <div class="title text-center py-5">
            <h2 class="position-relative d-inline-block">Our Latest Blog</h2>
        </div>

        <div class="row g-3">
            <div class="card border-0 col-md-6 col-lg-4 bg-transparent my-3">
                <img src="/media/pexels-hong-son-10933262 (1).jpg" alt="female image">
                <div class="card-body px-0">
                    <h4 class="card-title">Feel like you’re in Succession by wearing the right silk blouse</h4>
                    <p class="card-text mt-3 text-muted">Shiv Roy’s favourite shirt is perfect for power dressers who
                        mean business this autumn</p>
                    <p class="card-text">
                        <small class="text-muted">
                            <span class="fw-bold">Author: </span>Peter Foster
                        </small>
                    </p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>

            <div class="card border-0 col-md-6 col-lg-4 bg-transparent my-3">
                <img src="/media/pexels-andrea-piacquadio-3755706 (1).jpg" alt="image of jackets">
                <div class="card-body px-0">
                    <h4 class="card-title">Three spring jackets to add to your wish list</h4>
                    <p class="card-text mt-3 text-muted">The jackets that should be automatic picks for your spring
                        wardrobe</p>
                    <p class="card-text">
                        <small class="text-muted">
                            <span class="fw-bold">Author: </span>Katie Brice
                        </small>
                    </p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>

            <div class="card border-0 col-md-6 col-lg-4 bg-transparent my-3">
                <img src="/media/pexels-run-ffwpu-2526878.jpg" alt="Image of trainers">
                <div class="card-body px-0">
                    <h4 class="card-title">How to choose the perfect trainers for any running style</h4>
                    <p class="card-text mt-3 text-muted">Our expert guide will help you to find the ideal running shoe
                        for you</p>
                    <p class="card-text">
                        <small class="text-muted">
                            <span class="fw-bold">Author: </span>Colin Jack
                        </small>
                    </p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of blogs -->

<!-- newsletter -->
<section id="newsletter" class="py-5">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="title text-center pt-3 pb-5">
                <h2 class="position-relative d-inline-block ms-4">Newsletter Subscription</h2>
            </div>

            <p class="text-center text-muted">Get inspiration, new arrivals and the latest offers to your inbox</p>
            <div class="input-group mb-3 mt-3">
                <input type="text" class="form-control" placeholder="Enter Your Email ...">
                <button class="btn btn-primary" type="submit">Subscribe</button>
            </div>
        </div>
    </div>
</section>
<!-- end of newsletter -->
{% endblock %}