{% extends "base.html" %}
{% load static %}

{% block extra_title %}
Create a New Category
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2>Add Category</h2>
            <hr>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-dark">Add</button>
        <a href="{% url 'blog' %}" class="btn btn-dark">Back</a>
    </form>
</div>
{% else %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2>You must login to add Categories</h2>
            <hr>
        </div>
    </div>
    <div class="my-5">
        <h3>
            <a href="{% url 'account_login' %}"
                class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Login</a>
        </h3>
    </div>
</div>

{% endif %}

{% endblock %}

{% block postloadjs %}
{% endblock %}