{% extends "base.html" %}
{% load static %}

{% block extra_title %}

{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'contact/contact.css' %}">
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Blogs</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <h1>HEllo World</h1>
</div>




{% endblock %}

{% block postloadjs %}
{% endblock %}